@model ExamSystem.Models.UserQuestion
<form>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-3">
            <div class="form-group">
                @Html.DropDownListFor(model => model.ExamId, ViewBag.examList as SelectList, "Choose Exam ..", new { @class = "form-control", id = "ddListId" })
                @Html.ValidationMessageFor(model => model.ExamId, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="button" onclick="showQuestions()" value="Take Exam" name="Save" class="btn btn-outline-primary btn-block mt-2" />
                @*<button type="submit" id="saveBtn" class="btn btn-success btn-block mt-2">Save</button>*@
            </div>

        </div>
        <div class="col-9" id="divShowPartialId">
            <img  src="~/Uploads/Exam.jpg" class="img-thumbnail"/>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        //$("#ddListId").change(function () {
        //    var examId = $("#ddListId").val();
        //    $.ajax({
        //        type: "GET",
        //        url: "/User/ShowQuestion",
        //        data: { examId: examId},
        //        success: function (response) {
        //            console.log(response);
        //                $("#divShowPartialId").html(response);

        //        }
        //    });
        //});
    });
    var showQuestions = function (id) {
        var examid = $("#ddListId").val();
        $.ajax({
            type: "get",
            url: "/user/showquestion",
            data: { examid: examid },
            success: function (response) {
             
                window.location.href="/User/ShowQuestion?examId=" + examid;
              //$("#divshowpartialid").html(response);

            }
        });
    }
</script>